@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(180deg, #000000 0%, #1a1a1a 100%);
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  min-height: 100vh;
  color: var(--foreground);
  font-family: Syne, Arial, Helvetica, sans-serif;
  padding: 2vh;
}
